{% extends "../base.html" %}

{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="box">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="is-primary button">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}